-#На этой странице используется JQuery UI: http://jqueryui.com/tabs/

-#%script{src: "http://code.jquery.com/jquery-1.9.1.js", "data-turbolinks-track" => ""}
-#%script{src: "http://code.jquery.com/ui/1.10.3/jquery-ui.js", "data-turbolinks-track" => ""}

%div
  %img.dance_styles_bg{:src => '/images/dance_styles_background.png'}
#tabs.ui-tabs-vertical
  %ul.ui-tabs-nav.scrollable
    - i = 0
    - @styles.each do |style|
      - i = i + 1
      %li
        %a.ui-style-name.ui-tabs-anchor{href: '#fragment-' + i.to_s}
          %span
            = style.name
  - i = 0
  - @styles.each do |style|
    - i = i + 1
    %div.ui-widget-content.ui-tabs-panel{id: 'fragment-'+ i.to_s}
      %p
        = raw style.description
      .style_coaches
        %p Учителя танцев:
        - style.coaches.each do |coach|
          .coach_avatar
            %img{:src => coach.avatar.url(:small), 'data-image-url' => coach.avatar.url(:original)}
            %span
              %a{href: '/coaches/' + coach.id.to_s}
                = coach.name


