.admin-modal-shadow
.admin-popover
  .modal-body
    %p
      Направление -
      %span.style
    %p
      День -
      %span.day
    %p
      Время -
      %span.time
    %p
      Тренер -
      %span.coach
    %input.lesson-id{style: 'display: none'}
    %input.no-vacancy{style: 'display: none'}
  .modal-actions
    %button.delete
      Удалить
    %button.busy
      Группа набрана
    %button.cancel
      Отмена