- content_for :gradient do
  .gradient

- content_for :citation do
  #sudden_advert
    %img{src: '/images/sale.png'}

  #citation_container
    Я не пытаюсь танцевать лучше,
    %br
    .citate-right
      чем кто-либо другой.
    %br
    Я пытаюсь танцевать только
    .citate-right
      лучше самого себя.
    %br
    #author
      .citate-right
        Михаил Барышников

%p
  Новости
- @news.sort_by{|e| -e[:id]}.each do |news|
  #news_block
    #news_time
      = news.created_at.strftime("%d.%m.%Y")
    #news_title
      = news.title
    #news_details
      %a{href: '/news/' + news.id.to_s}Подробнее
