- content_for :gradient do
  .gradient

- content_for :left_panel do
  %p
    Новости
  - @news.sort_by{|e| -e[:id]}.each do |news|
    - block_class = ''
    - block_class = 'with_borders' if (news.id == @one.id)
    #news_block{class: block_class}
      #news_time
        = news.created_at.strftime("%m.%d.%Y")
      - if news.id == @one.id
        #current_news_title
          = news.title
      - if news.id != @one.id
        #news_title
          = news.title
        #news_details
          %a{href: '/news/' + news.id.to_s}Подробнее

- content_for :right_panel do
  #news_text
    = raw @one.text
