.contacts-info
  %p
    Запись по телефону
    %br
    - @contacts.phone.split(',').each do |phone|
      %a{href: 'tel:'+phone}
        = phone
      %br
  %p
    %span.underline
      %a{href: 'mailto:'+@contacts.email}
        = @contacts.email
  %p
    = @contacts.address
  .social
    %a.vk{href: 'http://vk.com/club59655894', target: '_blank'}
      %img{src: 'images/vkontakte_alma.png'}
    %a.instagram{href: 'http://instagram.com/almadeladanza', target: '_blank'}
      %img{src: 'images/instagram_alma.png'}

  %img{src: '/images/contacts_photo.png'}


.contacts-map
  #map
