.contacts-info
  %p
    Запись по телефону
    %br
    - @contacts.phone.split(',').each do |phone|
      %a{href: 'tel:'+phone}
        = phone
      %br
  %p
    %span.underline
      %a{href: 'mailto:'+@contacts.email}
        = @contacts.email
  %p
    = @contacts.address
  %img{src: '/images/contacts_photo.png'}
.contacts-map
  #map
