.contacts-info
  %p
    Запись по телефону
    %br
    %a{href: 'tel:'+@contacts.phone}
      = @contacts.phone
  %p
    %span.underline
      %a{href: 'mailto:'+@contacts.email}
        = @contacts.email
  %p
    = @contacts.address
  %img{src: '/system/images/contacts_photo.png'}
.contacts-map
  #map
