%table#schedule
  %tr
    %th
    - 0.upto(6) do |day|
      %th{'data-zoom-day'=>day.to_s, class: 'real zoom-day-'+day.to_s}
        %a.day-zoom
          = t(Lesson::LessonDay[day])
  - 0.upto(7) do |time|
    %tr
      - if time % 2
        %td{rowspan: '2'}
          = raw style_time Lesson::LessonTime[time]
      - 0.upto(6) do |day|
        %td{class: 'lesson-container hall-1 sc-day-'+day.to_s+' sc-time-'+time.to_s }
    %tr
      - 0.upto(6) do |day|
        %td{class: 'lesson-container hall-2 sc-day-'+day.to_s+' sc-time-'+time.to_s }
.halls
  .first
    Зал №1
  .second
    Зал №2