%table#schedule
  %tr
    %th.halls
      .first
        %a
          Зал №1
    - 0.upto(6) do |day|
      %th{'data-zoom-day'=>day.to_s, class: 'real zoom-day-'+day.to_s, rowspan: '2', 'data-head-class' => 'zoom-day-'+ day.to_s}
        %a.day-zoom
          = t(Lesson::LessonDay[day])
  %tr
    %th.halls
      .second
        %a
          Зал №2
  - 0.upto(23) do |time|
    %tr.lessons-row.not-empty
      %td.time
        = raw style_time Lesson::LessonTime[time]
      - 0.upto(6) do |day|
        %td{class: 'lesson-container sc-day-'+day.to_s+' sc-time-'+time.to_s, 'data-head-class' => 'zoom-day-'+ day.to_s,
        'data-day' => day, 'data-time' => time }
    -#%tr.lessons-row.not-empty
    -#  %td.time
    -#    = raw style_time Lesson::LessonTimeHall2[time]
    -#  - 0.upto(6) do |day|
    -#    %td{class: 'lesson-container hall-2 sc-day-'+day.to_s+' sc-time-'+time.to_s, 'data-head-class' => 'zoom-day-'+ day.to_s,
    -#     'data-day' => day, 'data-time' => time, 'data-hall' => '2' }