-#На этой странице используется JQuery UI: http://jqueryui.com/tabs/
#tabs1.lessons.ui-tabs-vertical
  %ul.ui-tabs-nav.scrollable
    %li
      %a.ui-tabs-anchor{href: "#fragment-1"}
        %span.ui-style-name{id: '', "data-lesson-id" => ''}
          Все стили
    - i = 0
    - @styles.each do |style|
      - i = i + 1
      %li
        %a.ui-tabs-anchor{href: "#fragment-1"}
          %span.ui-style-name{id: 'style-'+style.id.to_s, "data-lesson-id" => style.id.to_s}
            = style.name
  %div.ui-tabs-panel#fragment-1.ui-widget-content
    .price-link
      %a.to-price{href: '#price-list', name: 'schedule-link'}
        Прас-лист
    .up-arrow
      %a.arrow{href: '#price-list'}
    = render partial: 'lessons_table'
    .shadow
.price-wrapper
  %h1
    %a{name: 'price-list'}
      Наши расценки
  .price-list-container
    = raw @price_list.content
    .price-link
      %a.to-price{href: '#schedule-link'}
        Перейти к расписанию
    .down-arrow
      %a.arrow{href: '#schedule-link'}