@font-face
  font-family: Mirta
  font-weight: normal
  font-style: normal
  src: url(/fonts/ALS_Mirta_Regular.otf)
  src: url(/fonts/ALS_Mirta_Regular.otf?), url(/fonts/ALS_Mirta_Regular.otf) format('opentype')

@font-face
  font-family: Mirta
  font-weight: normal
  font-style: italic
  src: url(/fonts/ALS_Mirta_Italic.otf)
  src: url(/fonts/ALS_Mirta_Italic.otf?), url(/fonts/ALS_Mirta_Italic.otf) format('opentype')

@font-face
  font-family: Gregor
  font-weight: normal
  font-style: normal
  src: url(/fonts/gregor.eot)
  src: url(/fonts/gregor.eot?), url(/fonts/gregor.eot) format('embedded-opentype'), url(/fonts/gregor.woff) format('woff'), url(/fonts/gregor.ttf) format('truetype')

@font-face
  font-family: PTSansRegular
  font-weight: normal
  font-style: normal
  src: url(/fonts/pts55f.eot)
  src: url(/fonts/pts55f.eot?), url(/fonts/pts55f.eot) format('embedded-opentype'), url(/fonts/pts55f.woff) format('woff'), url(/fonts/pts55f.ttf) format('truetype')