.ui-widget-content
  .popover-content, .popover
    max-width: 370px
    min-height: 230px
    font-family: Mirta
    position: relative
    .price-link
      margin: 0
      padding: 0
    &.small-popover
      min-height: 0
      .popover-content
        min-height: 0
    .arrow
      display: none
    .popover-head
      text-align: center
      a
        font-size: 18px
        color: #5d2e49
        text-decoration: underline
      margin-bottom: 10px
    .description
      color: #626c6c
      font-size: 14px
    .lesson-info
      span.key
        color: #5d2e49
        font-size: 18px
      margin: 5px 0
      color: #dc6d48
      a
        color: #dc6d48
        text-decoration: underline
    .message-no-vacancy
      color: #dc6d48
    .button-wrap
      text-align: center
      button, .submit_button
        @include background(linear-gradient(right, #dc6d48,  #5d2e49))
        background: linear-gradient(to right, #dc6d48,  #5d2e49)
        border: none
        color: #f4ece1
        width: 195px
        height: 35px
        margin-top: 15px
        font-family: Arial
        &:hover
          @include background(linear-gradient(left top, #dc6d48,  #5d2e49))
          background: linear-gradient(to left top, #dc6d48,  #5d2e49)
        &:active
          border: 2px #000000 solid
    .close-popover
      position: absolute
      top: 7px
      right: 0
      a.close-button
        background: url('/images/close.png') no-repeat
        width: 36px
        height: 36px
        display: inline-block
        opacity: 1
        cursor: pointer
        &:hover
          opacity: 0.7
    .inputs
      display: none
      input
        width: 328px
        border-radius: 0
        &.error
          border-color: #880000
      .walidation-message
        display: none
  .confirm-block
    margin-top: 30px
    display: none
    p
      text-align: center



