- content_for :gradient do
  .gradient

- content_for :left_panel do
  #about_left_block
    %p
      %a.active_link{href: '/about'}Философия школы
    %p
      %a{href: '/coaches'}Наши учителя
    %p
      %a{href: '/interior_images'}Интерьеры школы
    %p
      %a{href: '/feedback'}Отзывы учеников

- content_for :right_panel do
  #about_right_block
    В медитации рождается мудрость, недостаток медитации рождает неведение.
    Крепко помни, что ведет тебя вперед, а что тянет назад.