- content_for :gradient do
  .gradient

- content_for :left_panel do
  #about_left_block
    %p
      %a{href: '/about'}Философия школы
    %p
      %a{href: '/about'}Наши учителя
    %p
      %a{href: '/about'}Интерьеры школы
    %p
      %a{href: '/about'}Отзывы учеников