- content_for :gradient do
  .gradient

- content_for :left_panel do
  #about_left_block
    %p
      %a.active_link{href: '/about'}Философия школы
    %p
      %a{href: '/coaches'}Наша команда
    %p
      %a{href: '/interior_images'}Интерьеры школы
    %p
      %a{href: '/feedback'}Отзывы учеников

- content_for :right_panel do
  #about_right_block
    %iframe{:width => "560", :height => "315", :src => "//www.youtube.com/embed/zRYiGIqLixo", :frameborder => "0", :allowfullscreen => true}
    %p
      Зачем нужны школы танцев?
    %p
      И почему люди любят танцевать?
    %p
      Может, им очень нравится жить?
    %p
      Или они хотят выразить то, что у них на душе?
    %p
      Мы открыли нашу школу для вас, мы открыли ее для того, чтобы вы открыли в себе еще один источник радости,
      чтобы у вас появилась еще одна возможность познакомится с собой, удивить себя и гордиться собой. Нам неважно
      сколько Вам лет, мы не будем спрашивать, когда Вы в последний раз танцевали, лучше спросите нас,
      что такое джаз-микс и какая музыка закружит Вас в бурлеске. И мы будем рады рассказать, но лучше мы Вам покажем,
      все, что будет интересовать Вас. Вы предпочитаете индивидуальное обучение? А может,
      для Вас будет желанна «подходящая компания»? Как хотите, так и будет, наше расписание гибкое, как наши педагоги,
      наша школа открыта как наша душа, и мы приглашаем Вас на праздник! Праздник танца и хорошего настроения,
      праздник музыки и открытий! Откройте нас для себя, откройте душу танца в себе! Мы желаем Вам радости,
      предвкушения чуда и хотим подарить Вам один из ключиков от счастья...
    %p
      Добро пожаловать,
    %p
      Ваша Альма де ла Данза