// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.css.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!

//= require /partials/lesson_table
@import "active_admin/mixins";
@import "active_admin/base";
@import "admin_lib/modal";
@import "lib/fileuploader";
@import "partials/lesson_table";
@import "partials/fonts";

.additional-info{
	display: none;
}


div.mce-container.mce-tinymce{
	display: inline-block;
}


// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
