//= require_self
//= require fancybox
//= require lib/bootstrap.css
//= require_tree ./lib/
//= require_tree ./partials


body
  background-color: #f4ece1
  margin: 0px

  p
    margin-bottom: 0

body, html
  height: 100%

body.main-layout, html.main-layout
  height: auto
  min-height: 100%

#document
  position: relative
  min-height: 100%

#wrapper-media
  margin: 0 auto
  width: 960px

.content
  position: relative
  margin: 0 auto
  width: 960px
  display: table
  min-height: 640px
  margin-top: 30px

.gradient
  position: absolute
  min-width: 960px
  background: #dc6d48 //for old browsers
  background: linear-gradient(to right, #dc6d48, #5d2e49)
  background: -webkit-linear-gradient(left, #dc6d48, #5d2e49)
  padding: 10px 0
  top: 150px
  width: 100%

#homepage
  position: relative
  margin: 0 auto
  width: 1280px
  height: 100%
  background-image: url(/images/home_background.png)
  background-size: cover
  min-height: 790px

#menu_background
  height: 150px

#menu_bg_1
  position: absolute
  float: left
  width: 160px
  height: 150px
  background-color: rgba(244, 236, 225, 0.85)

#menu_bg_2
  position: absolute
  left: 420px
  width: 860px
  height: 150px
  background-color: rgba(244, 236, 225, 0.85)

#menu_container
  margin: 0 auto
  width: 960px

.scrollable
  outline: none
