@import "partials/*"
@import "lib/*"

body
  background-color: #f4ece1
  margin: 0px

h2
  font:
    family: Mirta
    size: 24px
    style: normal
    weight: normal
  text-align: center

#document
  position: relative
  min-height: 100%

#wrapper-media
  margin: 0 auto
  width: 960px

.content
  margin: 0 auto
  width: 960px

.gradient
  background: #dc6d48 //for old browsers
  background: linear-gradient(to right, #dc6d48, #5d2e49)
  padding: 10px
  border: 0px solid #333
  margin-top: 150px
  margin-bottom: -175px
