#footer
  .strip
    .footer_text
      .web-studio
        Сайт разработан в
        %a{:href => 'http://kerweb.ru', :title => 'Kernel web studio'} Kernel web studio
      .copyright
        &copy;2014 Alma de la Danza. Танцевальная школа для взрослых.